<div class="show-users">
  <% @users.each do |user| %>
    <%= user.username %><br/>
    <%= user.email %><br/>
    <% if current_user.admin? %>
      <%= link_to 'Destroy', show_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %><br/>
    <% end %>
    <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
  <br/><br/>
  <% end %>
</div>