<div class="show-users">
  <% @users.each do |user| %>
    <%= user.username %><br/>
    <%= user.email %><br/>
    <%= link_to 'Edit user', edit_user_registration_path(user) %><br/>
    <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
  <br/><br/>
  <% end %>
</div>