@import 'bootstrap/dist/css/bootstrap';

*body {
  padding: 0;
  margin: 0;
}

#search-line {
  text-align: center;
}
//navigation
.navbar-brand {
  font-size: 30px;
}

.navbar {
  background-color: rgb(92, 92, 92) !important;
}

.user-name {
  padding: 8px;
  margin-right: 20px;
}

.name {
  color: rgb(22, 21, 21);
}
.name:hover {
  color: grey;
  text-decoration: none;
}


//flash message for stuffs
.alert ul li {
  list-style-type: none;
  justify-content: center;
}


//styling for devise form
.wrapper {
  margin: 80px;
}
.form-signin {
  max-width: 380px;
  margin: 0 auto;
  background-color: #fff;
  padding: 15px 40px 50px;
  border: 1px solid black;
  border-radius: 10px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 30px;
}
#edit-devise-container{
  max-width: 500px;
}
 

//navbar icon
.bg-iconnav {
  background:#ffc107;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffc107 0%, #ffc107 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffc107 0%, #e6366c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffc107 0%, #e6366c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc107', endColorstr='#e6366c', GradientType=0);
  /* IE6-9 */
  border-radius: 0;
}

//categories view
#category-index {
  max-width: 500px;
}

//dropzone
.dropzone {
  border: 2px dashed #dedede;
  border-radius: 5px;
  background: #f5f5f5;
}
.dropzone i{
  font-size: 5rem;
}
.dropzone .dz-message {
  color: rgba(0,0,0,.54);
  font-weight: 500;
  font-size: initial;
  text-transform: uppercase;
}


.card {
  padding: 1em;
}

//pagination style
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em; 
} 
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em; 
}
.apple_pagination .disabled {
  color: #aaaaaa;
}
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.apple_pagination a {
  text-decoration: none;
  color: black; 
}
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}



