@import 'bootstrap/dist/css/bootstrap';

*body {
  padding: 0;
  margin: 0;
}

#search-line {
  text-align: center;
}
//navigation
.navbar-brand {
  font-size: 30px;
}

.navbar {
  background-color: rgb(92, 92, 92) !important;
}

.user-name {
  padding: 8px;
  margin-right: 20px;
}

.name {
  color: rgb(22, 21, 21);
}
.name:hover {
  color: grey;
  text-decoration: none;
}


//flash message for stuffs
.alert ul li {
  list-style-type: none;
  justify-content: center;
}

